.FavoriteList {
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #header {
    h1 {
      margin-left: 25px;
      & > .amount {
        white-space: nowrap;
        color: rgba(255, 255, 255, 0.3);
      }
    }

    button {
      margin-right: 25px;
      width: auto;
    }

  }
}
